@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: Montserrat, sans-serif;
    background-color: #2c0f0f;
    color: white;
    display:inline ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.counting-container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #f5f5f5;
    margin-bottom: 20px;
}

/* Grid layout for numbers */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    gap: 15px; /* Space between grid items */
    margin-top: 30px;
    padding: 10px;
}


.grid-item {
    background-color: #210a0a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

/* Hover interaction: Move up when hovered */
.grid-item:hover {
    transform: translateY(-10px);
}

.number {
    font-size: 1rem;
    margin-bottom: 10px;
}

.translation-text {
    font-size: 1rem;
    color: #f5f5f5;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 10px;
}

.translation-text.show-translation {
    opacity: 1;
}

