<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Names of German Cities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='german.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Names of German Cities</h1>
        <div class="grid-container">
            <!-- Box 1 -->
            <div class="city-box">
                <div class="image-box">
                    <a href=""><img src="https://images6.alphacoders.com/369/369567.jpg" alt="Berlin" /></a>
                </div>
                <p>Berlin</p>
            </div>

            <!-- Box 2 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-munich-image"><img src="https://picfiles.alphacoders.com/357/357875.jpg" alt="Munich" /></a>
                </div>
                <p>Munich</p>
            </div>

            <!-- Box 3 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-frankfurt-image"><img src="https://images6.alphacoders.com/435/435987.jpg" alt="Frankfurt" /></a>
                </div>
                <p>Frankfurt</p>
            </div>

            <!-- Box 4 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-hamburg-image"><img src="https://picfiles.alphacoders.com/311/311138.jpg" alt="Hamburg" /></a>
                </div>
                <p>Hamburg</p>
            </div>

            <!-- Box 5 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-cologne-image"><img src="https://images3.alphacoders.com/113/113189.jpg" alt="Cologne" /></a>
                </div>
                <p>Cologne</p>
            </div>

            <!-- Box 6 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-dusseldorf-image"><img src="https://images7.alphacoders.com/437/437679.jpg" alt="Düsseldorf" /></a>
                </div>
                <p>Düsseldorf</p>
            </div>

            <!-- Box 7 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-stuttgart-image"><img src="https://picfiles.alphacoders.com/311/311624.jpg" alt="Stuttgart" /></a>
                </div>
                <p>Stuttgart</p>
            </div>

            <!-- Box 8 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-leipzig-image"><img src="https://images3.alphacoders.com/111/1119170.jpg" alt="Leipzig" /></a>
                </div>
                <p>Leipzig</p>
            </div>

            <!-- Box 9 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-dresden-image"><img src="https://images7.alphacoders.com/362/362676.jpg" alt="Dresden" /></a>
                </div>
                <p>Dresden</p>
            </div>

            <!-- Box 10 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-nuremberg-image"><img src="https://picfiles.alphacoders.com/968/9688.png" alt="Nuremberg" /></a>
                </div>
                <p>Nuremberg</p>
            </div>

            <!-- Box 11 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-bremen-image"><img src="https://errin.eu/sites/default/files/2021-12/imgonline-com-ua-CompressToSize-KEYLhwTTrcNI.jpg" alt="Bremen" /></a>
                </div>
                <p>Bremen</p>
            </div>

            <!-- Box 12 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-hannover-image"><img src="https://www.niedersachsen-tourism.com/images/hvbz5stc02o-/new-town-hall.webp" alt="Hannover" /></a>
                </div>
                <p>Hannover</p>
            </div>

            <!-- Box 13 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-dortmund-image"><img src="https://picfiles.alphacoders.com/273/thumb-1920-273288.jpg" alt="Dortmund" /></a>
                </div>
                <p>Dortmund</p>
            </div>

            <!-- Box 14 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-duisburg-image"><img src="https://www.heavyliftnews.com/wp-content/uploads/2024/03/0315-Sarens-1.jpg" alt="Duisburg" /></a>
                </div>
                <p>Duisburg</p>
            </div>

            <!-- Box 15 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-munster-image"><img src="https://www.hotel-clemens-august.de/_f/photos/xl/umgebung/1805-20180514_113441-umgebung-1.jpg" alt="Munster" /></a>
                </div>
                <p>Munster</p>
            </div>

            <!-- Box 16 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-wurzburg-image"><img src="https://www.discover-bavaria.com/Touren/Bilder/176007_prunkvolle-architektur-und-wohltaetiger-wein-in-wuerzburg/7040/image-thumb__7040__image-hero-slider/163792_HOumwW_Wurzburg_Innenstadt-4667560_pixabay~-~media--b2ec61fc--query.jpg" alt="Wurzburg" /></a>
                </div>
                <p>Wurzburg</p>
            </div>

            <!-- Box 17 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-rostock-image"><img src="https://historicgermany.travel/wp-content/uploads/2015/01/Town-Hall.jpg" alt="Rostock" /></a>
                </div>
                <p>Rostock</p>
            </div>

            <!-- Box 18 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-karlsruhe-image"><img src="https://www.blackforest-highlights.com/_Resources/Persistent/2d40896095228f8175afebbef59e67a7ffd9dc5e/Faechergrundriss_%20Copyright%20KTG%20Karlsruhe%20Tourismus%20GmbH.jpg" alt="Karlsruhe" /></a>
                </div>
                <p>Karlsruhe</p>
            </div>

            <!-- Box 19 -->
            <div class="city-box">
                <div class="image-box">
                    <a href="link-to-heidelberg-image"><img src="https://exploringrworld.com/wp-content/uploads/2020/01/IMG_2543-2-1170x878.jpg" alt="Heidelberg" /></a>
                </div>
                <p>Heidelberg</p>
            </div>

            <!-- Box 20 -->
            <div class="city-box">
                <div class="image-box">
                    <a href=""><img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCtcp3sxL1WCvYFHEhZKe8Rmgqbn7ZGU2vu8GASkGX5AXOeE8nbtjmXaBvDbPq8DJ5b1Y&usqp=CAU"  alt="Essen" /></a>
                </div>
                <p>Essen</p>
            </div>
        </div>

        <a href="/" class="back-button">Back to Main Menu</a>
    </div>
</body>
</html>


